[submodule ".registry"]
	path = .registry
	url = https://github.com/wiedenhoeft/wiedenhoeft.r-universe.dev
	branch = HEAD
[submodule "kitesquare"]
	path = kitesquare
	url = https://github.com/HUGLeipzig/kitesquare
	branch = main
